{% extends 'admin/SubTwig/base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong>Edit Category</strong>
                <a href="{{ path('category_index') }}" class="btn btn-danger btn-sm float-right">
                    <i class="fa fa-arrow-left"></i> Back To List
                </a>
            </div>
            <div class="card-body">
                {% include 'admin/category/_form.html.twig' %}
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm float-right">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                </form>
                <a href="{{ path('category_index') }}" class="btn btn-danger btn-sm float-left">
                    <i class="fa fa-arrow-left"></i> Back To List
                </a>
            </div>
        </div>
    </div>

{% endblock %}
