<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block description %} {% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    {% include 'front/SubTwig/front.header.html.twig' %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'front/SubTwig/front.navbar.html.twig' %}

    {% block body %}
    {% endblock %}

    {% block javascripts %}{% endblock %}
</body>
</html>