<!-- services -->
<section class="services py-5">
	<div class="container py-lg-5">
		<h3 class="heading text-center mb-sm-5 mb-4">What we do </h3>
		<div class="row offer-grids">
			<div class="col-lg-4 col-md-6">
				<div class="ser1">
					<div class="bg-layer">
						<h4 class="">Great Foods</h4>
						<p class="mt-3">We prepare the greatest meal, dessert, fast food and dessert in the whole city</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-4">
				<div class="ser2">
					<div class="bg-layer">
						<h4 class="">Deliver</h4>
						<p class="mt-3">We deliver what you ordered within minutes to the front of your home or apartment.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<div class="ser3">
					<div class="bg-layer">
						<h4 class="">Discount</h4>
						<p class="mt-3">The more you buy the less you pay for what you have to pay</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //services -->	