<div class="col col-lg-3 col-md-3 col-sm-12">
    <div class="py-1 px-3 border">
        <a href="">
            <h6 class="py-1 " id="text-hello" onclick="ShowSubCategories(this)"
                style="cursor: pointer;">Profile</h6>
        </a>
    </div>
    <div class="py-1 px-3 border">
        <a href="{{ path('front.user-order') }}">
            <h6 class="py-1" id="text-hello" onclick="ShowSubCategories(this)"
                style="cursor: pointer;">Orders</h6>
        </a>
    </div>
    <div class="py-1 px-3 border">
        <a href="{{ path('front.user-cart') }}">
            <h6 class="py-1" id="text-hello" onclick="ShowSubCategories(this)"
                style="cursor: pointer;">Carts</h6>
        </a>
    </div>
    <div class="py-1 px-3 border">
        <a href="{{ path('logout') }}">
            <h6 class="py-1" id="text-hello" onclick="ShowSubCategories(this)"
                style="cursor: pointer;">Logout</h6>
        </a>
    </div>
</div>